{% include 'layouts/header.html.twig' %}


        <section id="heroesPage">
            <h2>Nos Héros <span>Marvel</span></h2>
            <div class="hero-card">
            </div>
        </section>


{% for hero in heros %}
    <a href="{{ path('detail_hero', {'id': hero.id}) }}">
        <section id="characters">
            <section class="left" id="{{ hero.classe }}"></section>

            <section class="right">
                <h1 class="{{ hero.classe }}">{{ hero.name }}</h1>
                <p>{{ hero.resume }}</p>
            </section>
        </section>
    </a>
{% endfor %}
        {# <section id="characters">
            <section class="left" id="IronMan"></section>

            <section class="right">
                <h2 class="IronMan">Iron<span>Man</span></h2>
                <p>Iron Man, de son véritable nom Tony Stark, est l'un des super-héros les plus emblématiques de
                    l'univers Marvel. Ce personnage incarne le génie milliardaire, inventeur et industriel Tony Stark,
                    dont la vie prend un tournant décisif lorsqu'il est gravement blessé et capturé par des ennemis.
                    Pour sauver sa propre vie, il construit une armure technologiquement avancée, dotée de pouvoirs
                    surhumains, et se transforme en Iron Man.</p>
            </section>
        </section>

        <section id="characters">
            <section class="left" id="CaptainAmerica"></section>

            <section class="right">
                <h2><span style="color: rgb(207, 30, 30);">Capi</span>taine<span style="color: rgb(34, 88, 235);"> America</span></h2>
                <p>Captain America, également connu sous le nom de Steve Rogers, est un super-héros emblématique de
                    l'univers Marvel. Steve Rogers, un jeune homme déterminé, s'est porté volontaire pour un projet
                    d'amélioration physique pendant la Seconde Guerre mondiale, devenant ainsi le super-soldat
                    emblématique, Captain America. Il est reconnu pour son bouclier en vibranium, sa force surhumaine et
                    sa combativité. Captain America représente les idéaux de courage, d'honneur et de patriotisme, et il
                    a joué un rôle clé en luttant contre les forces du mal, que ce soient des super-vilains ou des
                    menaces mondiales. Son bouclier est son arme de prédilection, et il incarne le sens de la justice et
                    de la défense des plus faibles. Avec son look emblématique et son rôle de leader dans les Avengers,
                    Captain America est devenu un symbole de l'héroïsme et de l'unité dans l'univers Marvel.</p>
            </section>
        </section>

        <section id="characters">
            <section class="left" id="Hulk"></section>

            <section class="right">
                <h2 style="color: green;">Hulk</h2>
                <p>
                    Hulk, alias Bruce Banner, est un super-héros iconique de l'univers Marvel.Bruce Banner est un
                    brillant scientifique exposé à une dose mortelle de rayons gamma lors d'un accident de laboratoire.
                    En conséquence, il développe la capacité de se transformer en Hulk, une créature géante à la force
                    surhumaine à chaque fois qu'il est en proie à la colère ou au stress.

                    Hulk est connu pour sa force immense, son apparence verte, sa résistance presque indestructible et
                    sa capacité à sauter de grandes distances. Toutefois, il est également hanté par le conflit
                    intérieur entre sa personnalité calme et intellectuelle, Bruce Banner, et l'aspect sauvage et
                    impulsif de Hulk. Cette dualité en fait un personnage complexe et fascinant.</p>
            </section>
        </section>

        <section id="characters">
            <section class="left" id="AntMan"></section>

            <section class="right">
                <h2 style="color: rgba(128, 128, 128, 0.726);">Ant-Man et la guèpe</h2>
                <p>Ant-Man et la Guêpe, alias Scott Lang et Hope van Dyne, sont des super-héros de l'univers Marvel
                    dotés de la capacité de réduire leur taille à l'échelle subatomique tout en maintenant leur force.
                    Ils utilisent des costumes spéciaux alimentés par des particules Pym pour accomplir des exploits
                    incroyables, comme la réduction à la taille d'une fourmi et la communication avec ces insectes.</p>
            </section>
        </section>
        <section id="characters">
            <section class="left" id="Thor"></section>

            <section class="right">
                <h2 style="background: linear-gradient(to bottom, #FF0000, #C0C0C0);
                ">Thor</h2>
                <p>Thor est un super-héros de l'univers Marvel. Il possède un marteau magique, Mjolnir, qui lui confère
                    une incroyable force et le pouvoir de contrôler la foudre et la tempête. Thor est le prince
                    d'Asgard, un royaume céleste, et il est souvent chargé de protéger la Terre des menaces
                    extraterrestres et interdimensionnelles. Son caractère puissant, son sens de l'honneur et son sens
                    du devoir en font un personnage emblématique de l'univers Marvel.</p>
            </section>
        </section> #}



     {% include 'layouts/footer.html.twig' %}












